html {
    text-align: center;
    }
.header {
    background-color:royalblue;
    border-bottom-style: solid;
    border-color: lightskyblue;
    border-width: 10px;
    margin-top: 0%;
    text-align: left;
    height: 60px;
    margin-bottom: 1em;
}
#head_txt {
    margin-top: 0%;
    margin-left: 4%;
    padding-top: 0.8%;
    color:whitesmoke;
}
.body {
    margin: 0%;

}
#calculate_button{
  float: right;
  background-color: steelblue;
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}
#calculate_button:hover{
    background-color:dodgerblue
}
.Parameters{
    align-self: left;
    
    margin-left: 5em;
    margin-bottom: 1em;
    padding-right: 70%;
}
.slider:hover {
    opacity: 1;
  }
.param_label{
    align-self: left;
    float: left;
}
.param_input{
    align-self: left;
    float: left;
    width: 80%;
    margin-left: 0.5em;
}
.params {
    margin-bottom: 10px;
}
.para_label{
    display: inline-block;
    width: 110px;
}
#Label{
    align-self: left;
    float: left;
}
.Insert_Form {
    margin: 5em;
    margin-top: 1em;
    margin-bottom: 3em;
}
#text_area{
    resize: none;
    width: 100%;
    height: 100%;
}
.button{
    width: 52%;
    float:left;
}
.loading_circle{
    margin-top: 4px;
    overflow: hidden;
}
.time_D_Graph{
    margin: 5em;
}
#TDGraph{
    border: 2px solid black;
}
#Summary {
    border: 1px solid black;
    padding: 0.5em;
}
.text_summary{
    margin: 5em;
}
#start_summary{
    margin: 0em;
    text-align: left;
}

.loader {
    margin: auto;
    visibility: hidden;
    float: left;

    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 22px;
    height: 22px;
    
  }
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }