<!DOCTYPE html>
    <html lang="de">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="shortcut icon" href="{{ url_for('static', filename='Icon_from_web.ico')}}">
            <link rel="stylesheet" type="text/css" href='/static/fist_design.css'>

            <title>IT-Projekt</title>
            <script src="{{url_for('static', filename='javascript/summarize_script.js')}}"></script>
        </head>
    <body class="body" onload="initAssignment(),getDataset()">
        <header class="header">
            <h2 id="head_txt">IT Projekt</h2>
        </header>
        
    <div>
        <div class="Parameters" id="sliders_div">
            <div class="params">
                <label class="param_label" for="ngram">N-gramms:</label>
                <input class="slider" type="range" value="2" min="2" max="5" id="ngram" oninput="this.nextElementSibling.value = this.value">
                <output>2</output><br>
            </div>
        </div>
        <div class="Parameters">
            <div class="params">
                <label class="param_label" for="max_length">Length of the Summary:</label>
                <input class="slider" type="range" value="600" min="50" max="1000" step="50" id="max_length" oninput="this.nextElementSibling.value = this.value">
                <output>600</output><br>
            </div>
        </div>

        <div class="param_options" id="time">
            <div class="param_options_time">
                    <label>Timespan: From </label>
            </div>
            <div class="param_options_time">
                <input class="date" type="date" id="date_from">
                <input class="time" type="time" id="time_from">
            </div>
            <div class="param_options_time">
                <label id="label_time_to">To</label>
            </div>
            <div class="param_options_time">
                <input class="date" type="date" id="date_to">
                <input class="time"  type="time" id="time_to">
            </div>
        </div>

        <div class="param_options" id="dropdown">
            <div class="param_options_time">
                <label class="param_label" for="function_type">Analyse Function Type:</label>
            </div>
            <div class="param_options_time" id="dropdown_function_type">
                <select class="dropbtn" name="function_type" id="type_of_function">
                    <option class="dropbtn_opt" value="Greedy" selected="selected">Greedy</option>
                </select>
            </div>
            <div class="param_options_time">
                <label class="param_label" for="dataset" id="label_dataset">Dataset to analyse:</label>
            </div>
            <div class="param_options_time" id="dropdown_dataset">
                <select class="dropbtn" name="dataset" id="type_of_dataset">
                    
                </select>
            </div>
        </div>
    </div>
        <div class="Insert_Form">
                <label id="Label" for="text">Search-Parameter</label>
                <textarea id="text_area" name="text" cols="35" rows="1"  placeholder="Keyword or words seperated by a single space"></textarea> 
                <div class="button">
                    <button id="calculate_button" type="button">Analyse</button>
                </div>
                <div class="loading_circle">
                    <div class="loader" id="load"></div>
                </div>	
        </div>

        <div id="Graph">
            <canvas id="myChart" width="600" height="200"></canvas>
            <script src="{{url_for('static', filename='node_modules/chart.js/dist/chart.js')}}"></script>
            <script src="{{url_for('static', filename='javascript/my-chart.js')}}"></script>
        </div>

        <div class="text_summary">
            <article id="Summary">
                <h1 id="start_summary">Summary:</h1>
            </article>
        </div>
    </body>
</html> 