<!DOCTYPE html>
    <html lang="de">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="shortcut icon" href="{{ url_for('static', filename='Icon_from_web.ico')}}">
            <link rel="stylesheet" type="text/css" href='/static/fist_design.css'>

            <title>IT-Projekt</title>
            <script src="{{url_for('static', filename='node_modules/chart.js/dist/chart.js')}}"></script>
            <script src="{{url_for('static', filename='node_modules/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js')}}"></script>
            <script src="{{url_for('static', filename='node_modules/hammerjs/hammer.min.js')}}"></script>
            <script src="{{url_for('static', filename='node_modules/chartjs-plugin-zoom/dist/chartjs-plugin-zoom.min.js')}}"></script>
            <script src="{{url_for('static', filename='javascript/summarize_script.js')}}"></script>
        </head>
    <body class="body" onload="initAssignment(),getDataset()">
        <header class="header">
            <h2 id="head_txt">IT Projekt</h2>
        </header>
        
    <div>
        <div class="Parameters">
            <div class="params">
                <label class="param_label" for="max_length">Length of the Summary:</label>
                <input class="slider" type="range" value="600" min="50" max="1000" step="50" id="max_length" oninput="this.nextElementSibling.value = this.value">
                <output>600</output><br>
            </div>
        </div>

        <div class="param_options" id="time">
            <div class="param_options_time">
                    <label>Timespan: From </label>
            </div>
            <div class="param_options_time">
                <input class="date" type="date" id="date_from">
                <input class="time" type="time" id="time_from">
            </div>
            <div class="param_options_time">
                <label id="label_time_to">To</label>
            </div>
            <div class="param_options_time">
                <input class="date" type="date" id="date_to">
                <input class="time"  type="time" id="time_to">
            </div>
        </div>

        <div class="param_options" id="dropdown">
            <div class="param_options_time">
                <label class="param_label" for="function_type">Analyse Function Type:</label>
            </div>
            <div class="param_options_time" id="dropdown_function_type">
                <select class="dropbtn" name="function_type" id="type_of_function">
                    <option class="dropbtn_opt" value="Greedy" selected="selected">Greedy</option>
                    <option class="dropbtn_opt" value="Integer_linear">Integer Linear</option>
                </select>
            </div>
            <div class="param_options_time">
                <label class="param_label" for="dataset" id="label_dataset">Dataset to analyse:</label>
            </div>
            <div class="param_options_time" id="dropdown_dataset">
                <select class="dropbtn" name="dataset" id="type_of_dataset">
                    
                </select>
            </div>
            <div class="param_options_time" id="dropdown_representation_type">
                <label class="param_label" for="representation_type" id="label_representation_type">Representation Type:</label>
            </div>
            <div class="param_options_time" id="dropdown_representation_type">
                <select class="dropbtn" name="representation_type" id="type_of_representation">
                    <option class="dropbtn_opt" value="df" selected="selected">Document Frequency</option>
                    <option class="dropbtn_opt" value="tf">Term Frequency</option>
                    <option class="dropbtn_opt" value="tf-idf">TF - IDF</option>
                </select>
            </div>
        </div>

        <div class="param_options_collaps">
            <div class="collaps_btn">
                <button class="collapsible">More Options</button>
            </div>  
        </div>
        <div class="param_options">
            <div class="content" id="field_more_opt">
                <div id="grid_colm_1">
                    <p id="label_checkbox">Contextsize:</p>
                    <label class="container_check" id="con_1">One
                        <input type="checkbox" id="kontext_eins">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container_check" id="con_2">Two
                        <input type="checkbox"checked="checked" id="kontext_zwei">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container_check" id="con_3">Three
                        <input type="checkbox" id="kontext_drei">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container_check" id="con_4">Four
                        <input type="checkbox" id="kontext_vier">
                        <span class="checkmark"></span>
                    </label>
                </div>
                
                <div id="grid_colm_2">
                    <p id="label_checkbox_2">Number of concepts to consider:</p>
                    <input class="slider" type="range" value="100" min="1" max="100" step="1" id="numb_concepts" oninput="this.nextElementSibling.value = this.value">
                        <input class="text" id="numb_ctxt_txt" value="100"  oninput="this.previousElementSibling.value = this.value" >
                        <output id="output_concepts">%</output><br>
                    <p id="label_checkbox_3_2">Return order of the concepts in the summary:</p>
                    <select class="dropbtn" name="return_type" id="type_of_summary_return">
                        <option class="dropbtn_opt" value="oldest_found_first" selected="selected">Oldest found first</option>
                        <option class="dropbtn_opt" value="newest_found_first">Newest found first</option>
                        <option class="dropbtn_opt" value="best_found_first">Best rated first</option>
                    </select>
                </div>
                
                <div id="grid_colm_3">
                    <div>
                        <p id="label_checkbox_2">Options for TF-IDF:</p>
                        <p id="label_checkbox_4_2">Min DF:</p>
                        <input class="slider" type="range" value="5" min="1" max="10" step="1" id="min_df" oninput="this.nextElementSibling.value = this.value">
                        <output id="output_min_df">5</output><br>
                    </div>
                    <div>
                        <p id="label_checkbox_4_2">Max DF in %:</p>
                        <input class="slider" type="range" value="0.8" min="0.5" max="0.9" step="0.1" id="max_df" oninput="this.nextElementSibling.value = this.value">
                        <output id="output_min_df">0.8</output><br>
                    </div>
                </div>

                <div id="grid_colm_4">
                    <div>
                        <p id="label_checkbox_2">Weight of the Keywords:</p>
                        <p id="label_checkbox_4_2">Positiv weight of the Search Keywords:</p>
                        <input class="slider" type="range" value="3" min="2" max="10" step="1" id="weight_search_param" oninput="this.nextElementSibling.value = this.value">
                        <output id="output_min_df">3</output><br>
                    </div>
                    <div>
                        <p id="label_checkbox_4_2">Negativ weight of the Exclude Keywords:</p>
                        <input class="slider" type="range" value="-0.5" min="-0.5" max="0.9" step="0.1" id="weight_exclude_param" oninput="this.nextElementSibling.value = this.value">
                        <output id="output_min_df">-0.5</output><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="Insert_Form">
            <div>
                <label id="Label" for="text">Search-Parameter</label>
                <textarea id="text_area" name="text" cols="35" rows="1"  placeholder="Keyword or words seperated by a single space that should be in the summary"></textarea>
            </div>
            <div id="exclude_div">
                <label id="Label_2" for="text">Exclude Parameter</label>
                <label class="container_check" id="checkbox_hard_exclude">Hard Exclude instead of lower rating of the parameters
                    <input type="checkbox" id="hard_exclude">
                    <span class="checkmark" id="check_hard_exclude_button"></span>
                </label>
                <textarea id="text_area_exclude" name="text" cols="35" rows="1"  placeholder="Keyword or words seperated by a single space that should NOT be in the summary"></textarea>
            </div>  
                <div class="button">
                    <button id="calculate_button" type="button">Analyse</button>
                </div>
                <div class="loading_circle">
                    <div class="loader" id="load"></div>
                </div>	
        </div>
        

        <div id="Graph">
            <canvas id="myChart" width="600" height="200"></canvas>
        </div>

        <div class="text_summary">
            <article id="Summary">
                <h1 id="start_summary">Summary:</h1>
            </article>
        </div>
    </body>
</html> 