<!DOCTYPE html>
    <html lang="de">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="shortcut icon" href="{{ url_for('static', filename='Icon_from_web.ico')}}">
            <link rel="stylesheet" type="text/css" href='/static/fist_design.css'>

            <title>IT-Projekt</title>
            <script src="{{url_for('static', filename='javascript/summarize_script.js')}}"></script>
        </head>
    <body onload="initAssignment()">
        <div class="Parameters">
        
            <div class="params">
                <label class="param_label" for="ngram">N-gramms:</label>
                <input type="range" value="2" min="1" max="5" id="ngram" oninput="this.nextElementSibling.value = this.value">
                <output>2</output><br>
            </div>
            <div class="params">
                <label class="param_label" for="time">Timespan:</label>
                <input class="param_input" id="time" type="text" name="time"  placeholder="Timespan, single day hour"><br>
            </div>
            <div class="params">
                <label class="param_label"  for="weight">Weight:</label>
                <input class="param_input" id="weight" type="text" name="weight"  placeholder="The weight of a Sentence"><br>
            </div>
            <div class="params">
                <label class="param_label" for="max_length">Length:</label>
                <input class="param_input" id="max_length" type="text" name="max_length"  placeholder="The max Length the Summary should have"><br>
            </div>
        </div>

        <div class="Insert_Form">
                <label id="Label" for="text">Search-Parameter</label>
                <textarea id="text_area" name="text" cols="35" rows="4"  placeholder="What should the Summary be about?"></textarea> 	
                <button id="calculate_button" type="button">Analyse</button>
        </div>

        <div id="Graph">
            <canvas id="myChart" width="600" height="200"></canvas>
            <script src="{{url_for('static', filename='node_modules/chart.js/dist/chart.js')}}"></script>
            <script src="{{url_for('static', filename='javascript/my-chart.js')}}"></script>
        </div>

        <div class="text_summary">
            <article id="Summary">
                <h1 id="start_summary">Summary:</h1>
            </article>
        </div>
    </body>
</html> 