html {
    text-align: center;
    }
#Parameters{
    align-self: left;
    float: left;
    margin-left: 5em;
    margin-bottom: 1em;
}
.params {
    margin-bottom: 10px;
}
.para_label{
    display: inline-block;
    width: 110px;
}
#Label{
    align-self: left;
    float: left;
}
.Insert_Form {
    margin: 5em;
}
#text_area{
    resize: none;
    width: 100%;
    height: 100%;
}
.time_D_Graph{
    margin: 5em;
}
#TDGraph{
    border: 2px solid black;
}
#Summary {
    border: 1px solid black;
    padding: 0.5em;
}
.text_summary{
    margin: 5em;
}
#start_summary{
    margin: 0em;
    text-align: left;
}